{% extends 'base.html.twig' %}

{% block body %}

<div class="banner1" >
    <img class="banner1_img" src="{{asset('assets/images/banniere1.jpg')}} " alt="photo équipe tournoi glace 2022" >
</div>

<section class="hompage-firstSection">

    <h1 class="hompage-firstSection-title">TEAM BARBU'S</h1>
    <h2 class="hompage-firstSection-subtitle">Dernières Actualitées :</h2>

    <div class="card mb-3 homePageLastPost">
        <img src="{{lastPost.0.firstPicture}}" class="card-img-top" alt="{{lastPost.0.title}} ">
        <div class="card-body">
            <h5 class="card-title homePageLastPost-title"> {{lastPost.0.title}} </h5>
            <p class="card-text"> {{lastPost.0.summary}} </p>
        </div>
    </div>

</section>

<div class="banner2" >
    <img class="banner1_img" src="{{asset('assets/images/banniere1.jpg')}} " alt="photo équipe tournoi glace 2022" >
</div>

{% endblock %}
