{% extends 'base.html.twig' %}

{% block body %}
    <div class="back-office">
        <h1>Gestion des Joueurs</h1>

        <a href="{{ path('app_back_player_new') }}" class="btn btn-warning">Nouveau</a>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>FirstName</th>
                    <th>NickName</th>
                    <th>JerseyNumber</th>
                    <th>StickSide</th>
                    <th>Picture</th>
                    <th>Role</th>
                    <th colspan="2" scope="col">actions</th>
                </tr>
            </thead>
            <tbody>
            {% for player in players %}
                <tr>
                    <td>{{ player.id }}</td>
                    <td>{{ player.name }}</td>
                    <td>{{ player.firstName }}</td>
                    <td>{{ player.nickName }}</td>
                    <td>{{ player.jerseyNumber }}</td>
                    <td>{{ player.stickSide }}</td>
                    <td>{{ player.picture }}</td>
                    <td>{{ player.role }}</td>
                     <td>
                        <a href="{{ path('app_back_player_show', {'id': player.id}) }}" class="btn btn-warning">Voir</a>
                    </td>
                    <td>
                        <a href="{{ path('app_back_player_edit', {'id': player.id}) }}" class="btn btn-warning">modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="11">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        
    </div>
{% endblock %}
